{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Select Shopping Cart</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      {% for cart in template_data.carts %}
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">{% if cart == 'cart_1' %}Cart 1{% elif cart == 'cart_2' %}Cart 2{% else %}Cart 3{% endif %}</h5>
            <p class="card-text">View and manage your {% if cart == 'cart_1' %}Cart 1{% elif cart == 'cart_2' %}Cart 2{% else %}Cart 3{% endif %} items</p>
            <a href="{% url 'cart.view_cart' cart_id=cart %}" class="btn btn-primary">
              Open {% if cart == 'cart_1' %}Cart 1{% elif cart == 'cart_2' %}Cart 2{% else %}Cart 3{% endif %}
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}